---
import { BentoGrid, BentoGridItem } from "@/components/BentoGrid";
import { Separator } from "@/components/ui/separator";
import {
  openSourceContrib,
  professionalExperiences,
  projects,
} from "@/constants/experience";
import "@/index.css";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Wu Xiaoyun - Blogs">
  <main class="flex flex-col gap-12 py-6">
    <section>
      <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
        Professional Experience
      </h3>
      <BentoGrid class="mt-6">
        {professionalExperiences.map((props) => <BentoGridItem {...props} />)}
      </BentoGrid>
    </section>
    <Separator />
    <section>
      <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
        Open Source Contributions
      </h3>
      <BentoGrid class="mt-6">
        {openSourceContrib.map((props) => <BentoGridItem {...props} />)}
      </BentoGrid>
    </section>
    <Separator />
    <section>
      <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
        Projects
      </h3>
      <BentoGrid class="mt-6">
        {projects.map((props) => <BentoGridItem {...props} />)}
      </BentoGrid>
    </section>
  </main>
</Layout>
