---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { Separator } from "@/components/ui/separator";
import "@/index.css";
import { AstroFont } from "astro-font";
import { ViewTransitions } from 'astro:transitions';

export type LayoutProps = {
  title: string;
};

const { title = "Wu Xiaoyun" } = Astro.props as LayoutProps;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Wu Xiaoyun's portfolio page" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <AstroFont
      config={[
        {
          src: [],
          name: "Inter",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap",
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
    <ViewTransitions />
  </head>
  <body class="antialiased bg-gray-50">
    <div
      class="min-h-[100dvh] w-[100dvw] max-w-4xl mx-auto flex flex-col gap-6 bg-background py-12 px-3 sm:p-12"
    >
      <Header />
      <slot />
      <Separator />
      <Footer />
    </div>
  </body>
</html>
